[Unit]
Description=TempKeeper

[Service]
WorkingDirectory=/home/gretel/Git/TempKeeper
ExecStart=/usr/local/bin/docker-compose -p TempKeeper -f /home/gretel/Git/TempKeeper/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -p TempKeeper -f /home/gretel/Git/TempKeeper/docker-compose.yml down
ExecReload=/usr/local/bin/docker-compose -p TempKeeper -f /home/gretel/Git/TempKeeper/docker-compose.yml restart
User=gretel
Group=gretel
Restart=always

Type=simple

[Install]
WantedBy=multi-user.target
