<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>TempKeeper - 主ヒーター運転操作パネル</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="../static/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js">
    </script>


</head>

<body>
    <div class="container">
        <!-- Header -->
        <div class="row">
            <div class="col col-parent">
                <p class="h5 bg-yellow">主ヒーター運転操作パネル</p>
                <p class="h5 bg-cyan">2022/8/12(金) 11:34:42</p>
            </div>
        </div>


        <div class="row">
            <div class="col col-parent">
                <p class="el bg-black">ぴー</p>
            </div>

            <div class="col-1 col-parent">
                <button class="button el">
                    <i class="bi bi-caret-down-fill"></i>
                </button>
            </div>

            <div class="col col-parent">
                <p class="el bg-blue">30.0℃</p>
            </div>

            <div class="col-1 col-parent">
                <button class="button el">
                    <i class="bi bi-caret-up-fill"></i>
                </button>
            </div>

            <!-- <div class="col col-parent bg-red">
                <p class="el">運転中</p>
            </div> -->
            <!-- <div class="col-2 col-parent bg-gray">
                <p class="el">停止中</p>
            </div> -->
            <div class="col-2 col-parent bg-gray">
                <p class="el">手動停止</p>
            </div>


            <div class="col-2 col-parent">
                <button class="button el bg-yellow">停止</button>
            </div>
            <div class="col-2 col-parent">
                <button class="button el bg-green">自動</button>
            </div>
        </div>


        <!-- end container -->
    </div>

</body>

</html>
