body {
    background-color: #000;
    color: #fff;

    margin: 0;
    font-family: "ＭＳ ゴシック", "MS Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
    font-size: 18px;

    width: 100%;
    height: 100%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: unset;
}

.container {
    background-color: #bbb;
    color: #fff;
    border: outset 5px #888;
    padding: 0;
    width: 800px;
}

.row {
    position: relative;
    margin: 0;
    padding: 0;
    height: 60px;
}

.col-parent {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.el {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.button {
    border: outset 5px #bbb;
}

.button:active {
    border: outset 5px #bbb;
    background-color: #444;
    color: #fff;
}

p {
    text-align: center;
    line-height: 60px;
    font-size: 22px;
}

.bg-red {
    background-color: #f00;
    color: #000;
}

.bg-green {
    background-color: #0f0;
    color: #000;
}

.bg-blue {
    background-color: #00f;
    color: #fff;
}

.bg-cyan {
    background-color: #0ff;
    color: #000;
}

.bg-magenta {
    background-color: #f0f;
    color: #000;
}

.bg-yellow {
    background-color: #ff0;
    color: #000;
}

.bg-gray {
    background-color: #888;
    color: #fff;
}

.bg-black {
    background-color: #000;
    color: #fff;
}
