[Unit]
Description=TempKeeperViewer
After=graphical.target
Wants=graphical.target

[Service]
Environment="DISPLAY=:0.0"
ExecStart=/home/gretel/TempKeeper/viewer/open-chromium.sh
Type=simple
User=gretel
Group=gretel

[Install]
WantedBy=graphical.target
