[Unit]
Description=plug_controller

[Service]
WorkingDirectory=/home/gretel/Git/TempKeeper/driver
ExecStart=/home/gretel/.pyenv/versions/TempKeeper/bin/python plug_controller.py
User=gretel
Group=gretel
Type=simple

[Install]
WantedBy=multi-user.target
