[Unit]
Description=temp_collector

[Service]
WorkingDirectory=/home/gretel/TempKeeper/driver
ExecStart=/home/gretel/.pyenv/versions/TempKeeper/bin/python temp_collector.py
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target
